body {
    font-family: Arial;
}

header {
    height: 60px;
}

input[type="button"] {
    background-color: #99DD99;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,.4) 0px 0px 2px;
    border: 1px solid #009900;
    padding: 2px 6px;
}

input[type="button"]:active {
    background-color: #88EE88;
    border-radius: 6px;
    border: 1px solid #009900;
    padding: 2px 6px;
}

.cart-summary {
    border: 1px solid #009900;
    border-radius: 4px;
    display: inline-block;
    padding: .5em 1em;
    float: right;
}

.cart-summary:hover .cart-details {
    display: inline-block;
}

.cart-details {
    display: none;
    position: absolute;
    right: 10px;
    z-index: 100;

    background-color: white;
    border: 2px solid #009900;
    border-radius: 4px;
    padding: .5em;
}

.cart-details table {
    border-collapse: collapse;
}
.cart-details table .cell{
    border-bottom: 1px solid #999999;
    padding: 2px 8px 2px 2px;
    text-align: left;
}

.search-bar {
    background-color: #ddeedd;
    padding: 4px;
    border-top: 4px solid #99DD99;
    border-bottom: 4px solid #99DD99;

    font-size: 16pt;
    line-height: 24px;
}
.search-bar input {
    font-size: 10pt;
    line-height: 24px;
}
.search-text {
    width: 400px;
}

.search-results {
    margin: 10px;
    float: left;
    width: 400px;
}

.search-results-items {
    margin: 1em;
    border-collapse: collapse;
}

.search-results-items th{
    padding: 10px 4px 10px 10px;
    border-bottom: 2px solid #669966;
    text-align: left;
}

.search-results-items td{
    padding: 10px 4px 10px 10px;
    border-bottom: 1px solid #669966;
}

.selected-row {
    background-color: #eeeeee;
}

.details-area {
    float: left;
    width: 400px;
}

.details-area label {
    display: inline-block;
    width: 100px;
    color: #666666;
}